.Dot {
  margin-left: 3px;
  cursor: pointer;
  transition: opacity 0.15s ease-in;

  .content {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.green {
      background-color: rgb(1, 209, 1);
    }
    &.red {
      background-color: red;
    }
    &.yellow {
      background-color: yellow;
    }
  }
}

.dot-hover {
  opacity: 1 !important;
}
